<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <p class="navbar-brand mt-3">Resumen de accesos</p>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">



            <ul class="navbar-nav mr-auto text-right"></ul>
            <p class="mr-4 pt-3" style="text-align: right">{{ _usuarioService.email }}</p>


            <form class="form-inline">

                <button class="btn btn-danger  btn-block text-uppercase" (click)="_usuarioService.logout()" type="submit">X</button>

            </form>
        </div>
    </nav>

    <div class="table-responsive">
        <table class="table table-striped">

            <thead class="thead-light">


                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Conexión</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Fecha de alta</th>
                    <th scope="col">Email</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">País</th>
                </tr>
            </thead>
            <tbody *ngIf="usuarios">


                <tr *ngFor="let log of logs; let i = index">
                    <th scope=" row ">{{ i+1 }}</th>
                    <td>{{ log['fecha'] | date:'full' }}</td>
                    <td>{{ usuarios[log.userId].nombre }}</td>
                    <td>{{ usuarios[log.userId].fecha | date:'short' }}</td>
                    <td>{{ usuarios[log.userId].correo }}</td>
                    <td>{{ usuarios[log.userId].empresa }}</td>
                    <td>
                        <img src="{{ usuarios[log.userId].pais.bandera }}" alt="{{ usuarios[log.userId].pais.nombre }}"> {{ usuarios[log.userId].pais.nombre }}

                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>